<div class="button-container">
  <button class="show-button" (click)="getAllCompanies()">Show all companies</button>
</div>


<div class="table-container">
  <table class="company-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Ownership</th>
      <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let company of companies">
      <td>{{ company.id }}</td>
      <td>{{ company.name }}</td>
      <td>{{ company.description }}</td>
      <td>{{ company.ownership }}</td>
      <td>{{ company.address }}</td>
    </tr>
    </tbody>
  </table>
</div>

