<div class="button-container">
  <button class="show-button" (click)="getAllCompanies()">Show all companies</button>
</div>


<!--<div class="table-container">-->
<!--  <table class="company-table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>ID</th>-->
<!--      <th>Name</th>-->
<!--      <th>Description</th>-->
<!--      <th>Ownership</th>-->
<!--      <th>Address</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let company of companies">-->
<!--      <td>{{ company.id }}</td>-->
<!--      <td>{{ company.name }}</td>-->
<!--      <td>{{ company.description }}</td>-->
<!--      <td>{{ company.ownership }}</td>-->
<!--      <td>{{ company.address }}</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><button (click)="save()" *ngIf="canAddCompany()">add</button></td>-->
<!--      <td><input type="text" class="company-name" [(ngModel)]="company.name" [ngModelOptions]="{standalone: true}"></td>-->
<!--      <td><input type="text" class="company-description" [(ngModel)]="company.description" [ngModelOptions]="{standalone: true}"></td>-->
<!--      <td><input type="text" class="company-description" [(ngModel)]="company.ownership" [ngModelOptions]="{standalone: true}"></td>-->
<!--      <td><input type="text" class="company-description" [(ngModel)]="company.address" [ngModelOptions]="{standalone: true}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

<section>
  <div *ngFor="let company of companies">
    <form (ngSubmit)="update(company)" class="update-form">
      <div>

        <input type="text" class="update-input" [(ngModel)]="company.name" [ngModelOptions]="{standalone: true}">
      </div>
      <div>

        <input type="text" class="update-input" [(ngModel)]="company.description" [ngModelOptions]="{standalone: true}">
      </div>
      <div>

        <input type="text" class="update-input" [(ngModel)]="company.ownership" [ngModelOptions]="{standalone: true}">
      </div>
      <div>

        <input type="text" class="update-input" [(ngModel)]="company.address" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="buttons">
        <button type="submit" class="update-button">update</button>
        <button (click)="deleteCompany(company.id)" class="submit-button">delete</button>
      </div>
    </form>
  </div>
</section>
<section>
    <form (ngSubmit)="save()" class="update-form">
      <div>
        <p>name</p>
        <input type="text" class="update-input" [(ngModel)]="company.name" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <p>description</p>
        <input type="text" class="update-input" [(ngModel)]="company.description" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <p>ownership</p>
        <input type="text" class="update-input" [(ngModel)]="company.ownership" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <p>address</p>
        <input type="text" class="update-input" [(ngModel)]="company.address" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="buttons">
        <button type="submit" class="update-button">save</button>
      </div>
    </form>
</section>


