<div class="button-container">
  <button class="show-button" (click)="getAllCompanies()">Show all companies</button>

</div>
<input type="text" class="search-input" [(ngModel)]="searchCompanyBy" [ngModelOptions]="{standalone: true}">
<button class="search-button" (click)="searchCompany()">search</button>


<section>
  <div *ngFor="let company of companiesForShow">
    <form (ngSubmit)="update(company)" class="update-form">
      <div>

        <input type="text" class="update-input" [(ngModel)]="company.name" [ngModelOptions]="{standalone: true}">
      </div>
      <div>

        <input type="text" class="update-input" [(ngModel)]="company.description" [ngModelOptions]="{standalone: true}">
      </div>
      <div>

        <input type="text" class="update-input" [(ngModel)]="company.ownership" [ngModelOptions]="{standalone: true}">
      </div>
      <div>

        <input type="text" class="update-input" [(ngModel)]="company.address" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="buttons">
        <button type="submit" class="update-button">update</button>
        <button (click)="deleteCompany(company.id)" class="submit-button">delete</button>
      </div>
    </form>
  </div>
</section>
<section>
    <form (ngSubmit)="save()" class="update-form">
      <div>
        <p>name</p>
        <input type="text" class="update-input" [(ngModel)]="company.name" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <p>description</p>
        <input type="text" class="update-input" [(ngModel)]="company.description" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <p>ownership</p>
        <input type="text" class="update-input" [(ngModel)]="company.ownership" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <p>address</p>
        <input type="text" class="update-input" [(ngModel)]="company.address" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="buttons">
        <button type="submit" class="update-button">save</button>
      </div>
    </form>
</section>


